<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Export Inventory</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<style>
    /* Additional styling if needed */
    #headerButtons {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 10px;
    }
    #exportOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 15px;
    }
</style>
</head>
<body>
<a href="/">
    <img src="{{ url_for('static', filename='images/HomeLogo.png') }}" alt="Home Inventory" style="width: auto; height: auto;">
</a>
<div id="headerButtons" style="display: flex; justify-content: flex-start !important; margin-top: 10px;">
    <a href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/HomeButton.png') }}" alt="Home" style="width: auto; height: auto; margin-right: 5px;">
    </a>
    <a href="{{ url_for('export') }}">
    <img src="{{ url_for('static', filename='images/ExportButton.png') }}" alt="Export" style="width: auto; height: auto; margin-right: 5px;">
    </a>
    <a href="{{ url_for('analytics') }}">
    <img src="{{ url_for('static', filename='images/AnalyticsButton.png') }}" alt="Analytics" style="width: auto; height: auto; margin-right: 5px;">
    </a>
</div>
<br>
<h2 style="color: white; text-align: left; margin-left: 10px;">Export Options:</h2>
<div id="exportOptions">
    <a href="{{ url_for('export_csv') }}">
    <img src="{{ url_for('static', filename='images/ExportCSVButton.png') }}" alt="Export CSV" style="width: auto; height: auto; margin-bottom: 10px;">
    </a>
    <a href="/">
    <img src="{{ url_for('static', filename='images/ExportPDFButton.png') }}" alt="Export PDF" style="width: auto; height: auto; margin-bottom: 10px;">
    </a>
    <a href="/">
    <img src="{{ url_for('static', filename='images/EmailButton.png') }}" alt="Email Inventory" style="width: auto; height: auto; margin-bottom: 10px;">
    </a>
    <a href="{{ url_for('home') }}">
        <img src="{{ url_for('static', filename='images/DoneButton.png') }}" alt="Done" style="width: auto; height: auto;">
        </a>
</div>
</body>
</html>